.top_border {
  border-top: magenta dotted;
}

button {
  background: magenta;
  height: 60px;
  width: 90px;
  border: solid #ffffff;
  margin-left: 46%;
  margin-top: 10px;
}

a {
  color: #ffffff;
}
a:hover {
  color: lime;
}

#message {
  margin-left: 44%;
  margin-top: 10px;
  font-weight: bold;
  /*font-size: 20px;*/

}

.square {
  width: 140px;
  height: 120px;
  text-align: center;
  font-size: 40pt;
  font-weight: bold;
  font-family: Verdana;
  color: lime;

}
.table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

h1 {
 text-align: center;
 font-family: Verdana;
 color: #ffffff;
 font-size: 300%;
}

body {
 background: #000000;
 color: #ffffff;
}
